// Fonts.
$fontBody: 'Montserrat', sans-serif;
$fontHeading: 'Roboto', sans-serif;

// Font weights.
$fontWeightHeading: 600;
$fontWeightHeadingBold: 900;
$fontWeightBody: 300;
$fontWeightBodyBold: 600;

// Colors.
$colorBlack: #051F33;
$colorWhite: #FFFFFF;
$colorOrange: #E7741A;
$colorRed: #E71926;
$colorBlue: #198DE7;
$colorBlueLight: #19D7E7;
$colorPurple: #7419E7;
$colorGreen: #19E774;
$colorYellow: #E7DA19;
$colorGreyLight: #f5f5f5;
$colorGreyRegular: #EFEFEF;
$colorGreyDark: #a7b0b4; // For drop-down selector fields.

// Font colors.
$colorHeader: $colorBlue;
$colorBody: $colorBlack;